<a href="https://colab.research.google.com/github/HeySonu29/PythonAssignment/blob/main/Data_Type_and_Structure_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.What are data structures, and why are they important?
Data structure is an organised way of collecting storing and accessing the data efficiently. There are two types of it. Built in Structures as lists, tuple and Sets etc and Custom structrures such as stacks, queues and graphs etc.

They are important because understanding the data structure is crucial for writing efficient and scalable Python programs, choice of data structure impacts the performance of the code significantly.

#2.Explain the difference between mutable and immutable data types with examples?

Mutalble data types are the ones that can be altered or modified whereas the immutable data types can not be modified.

Examples of Mutable data types are lists,dictionaries and sets whereas example of immutable data types are strings and tuples.

#What are the main differences between lists and tuples in Python?

Lists are ordered changable collection of items where you can remove, add or append the items inside this data type whereas tuple is also an ordered collection of items but it is immutable and does not allow changes in its data type. Also as compared to lists, it has very fewer built in methods like count()and index()

#Describe how dictionaries store data

Dictionaries basicly set up a key and its values.Dictionaries organize data in pairs, where each pair consists of a unique key and a corresponding value. For example, in the key column you enter the object and in the value column you enter what does it refer to.
Syntax-
Dictionary={Name:'Rahul', Place:'Gorakhpur'}

#Why might you use a set instead of a list in Python?

Sets can be used instead of list when we want to avoid duplicacy of the item as the set does not support duplicacy, set is useful in the situation where you want to compare one set of items to another without caring about order or duplicates.

#What is a string in Python, and how is it different from a list?

String is a collection of immutable text characters and used inside the "" or '' and it is immutable in nature whereas as discussed above list is collection of organised collection of items that allows duplicacy and it is mutable.

#How do tuples ensure data integrity in Python?


Tuples restricts the ability to make an alteration in its collection of items ensuring that data would remain intergrated.

#What is a hash table, and how does it relate to dictionaries in Python?

In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

#Can lists contain different data types in Python?
Yes, lists in Python can contain elements of different data types and it is one of the main charactertists of data type.

For example, a single Python list can contain integers, floats, strings, booleans, and even other lists or complex data structures like dictionaries and tuples.

#Explain why strings are immutable in Python?
Strings are immutable to ensure data integreity.If strings are not made immutable, then there could be a serious security threat to the application. For example, usernames and passwords are stored in Strings.

#What advantages do dictionaries offer over lists for certain tasks?
Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

#Describe a scenario where using a tuple would be preferable over a list?
 Tuple would be preferred in scenario where we want the items to remain unchanged to protect the data integrity. For example- User id and password.
 Since this information should not be accidentally modified during program execution, using a tuple provides an extra layer of protection.

#How do sets handle duplicate values in Python?

In Python, sets automatically eliminate duplicate values. When you add elements to a set, any duplicates are ignored, and only unique elements are stored.
Example as below-

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 4}
print(my_set)

{1, 2, 3, 4}

In [ ]:
#How does the “in” keyword work differently for lists and dictionaries?

#For lists: in checks whether a value exists in the list.

my_list = [1, 2, 3]
print(2 in my_list)
print(5 in my_list)

#For dictionaries:in checks whether a key exists, not the values.
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)
print(1 in my_dict)

True
False
True
False

#Can you modify the elements of a tuple? Explain why or why not?

No, elements of tuple can not be modified as they are immutable in nature and does not allow modification in the data set in order to ensure the data integrity.

In [ ]:
#What is a nested dictionary, and give an example of its use case

#A nested dictionary in Python is a dictionary within another dictionary. It allows you to represent hierarchical or structured data using key-value pairs
Student = {
    'John': {'Subject': ['Maths','History'],'Grade': 'A'},
         'Ritika':{'Subject': ['Chem','Bio'],'Grade': 'C'}
}
print(Student["Ritika"]['Subject'])

['Chem', 'Bio']

#Describe the time complexity of accessing elements in a dictionary

Accessing an element in a Python dictionary (or a hash table in general) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value associated with a key remains constant regardless of the dictionary's size.

#In what situations are lists preferred over dictionaries?

 Lists are preferred over dictionaries when there is no relevance of assigning keys to values, requires duplicate values to exist in the list and have to maintain a specific **order** that can be accessed through indexing.

#Why are dictionaries considered unordered, and how does that affect data retrieval?

In Dictionary, values are retrieved thorugh their keys and it does not support indexing . It affects the data retrieval in a way that You couldn’t rely on the order of items when looping through a dictionary as it stores items based on the hash value and not the order.

#Explain the difference between a list and a dictionary in terms of data retrieval.

**List** retreives the data in the order it was entred as it follows the indexing principle however, when compares to dictionary it is slower as to find specific item, it will have to go through the entire list contrary to that **Dictionary** is an unordered set of items that does not support indexing, however, it retrieves the data faster because it assigns the key to the value and based on that key, value can be retrieved much efficently.

In [ ]:
#Write a code to create a string with your name and print it.

Name= 'Sonu'
print(Name)

Sonu

In [ ]:
#Write a code to find the length of the string "Hello World".

print('Hello World')

len('Hello World')

Hello World

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming".

string= 'Python Programming'
print(string[:3])

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase.

S= 'Hey'
print(S.upper())

HEY

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".

S= 'I like Apple'
print(S.replace('Apple','Orange'))

I like Orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it.

List=[1,2,3,4,5]
List

[1, 2, 3, 4, 5]

In [ ]:
#Append 10 to the list [1, 2, 3, 4]
S=[1,2,3,4,5]
S.append(10)
S
# Remove the number 3 from the list [1, 2, 3, 4, 5]
S.remove(3)
S

[1, 2, 4, 5, 10]

In [ ]:
#Access the second element in ['a', 'b', 'c', 'd']

K=['a', 'b', 'c', 'd']

print(K[1])

b

In [ ]:
#Reverse the list [10, 20, 30, 40, 50]

A=[10, 20, 30, 40, 50]
A.reverse()
A

[50, 40, 30, 20, 10]

In [ ]:
#Create a tuple with elements 100, 200, 300 and print it
Tuple= (100,200,300)
Tuple

(100, 200, 300)

In [ ]:
#Access second-to-last element of ('red', 'green', 'blue', 'yellow')

A=('red', 'green', 'blue', 'yellow')

print(A[-2])

blue

In [ ]:
#13. Find the minimum number in (10, 20, 5, 15)
A=(10,20,5,15)
print(min(A))

5

In [ ]:
#14. Find index of "cat" in ('dog', 'cat', 'rabbit')

A=('Dog','cat','rabbit')
print(A.index('cat'))

1

In [ ]:
#15. Create a tuple with fruits and check if "kiwi" is in it

B=('Apple','Kiwi', 'Banana')
print('Kiwi' in B)

True

In [ ]:
#16. Create a set with elements 'a', 'b', 'c' and print it

Element={'a','b','c'}
Element

{'a', 'b', 'c'}

In [ ]:
#17.Clear all elements from the set {1, 2, 3, 4, 5}

Sets= {1, 2, 3, 4, 5}

Sets.clear()

In [ ]:
#18. Remove element 4 from {1, 2, 3, 4}

Sets= {1, 2, 3, 4, 5}
Sets.remove(4)
Sets

{1, 2, 3, 5}

In [ ]:
#19. Union of sets {1, 2, 3} and {3, 4, 5}

In [ ]:
A= {1,2,3}
B= {3,4,5}

print(A.union(B))

{1, 2, 3, 4, 5}

In [ ]:
#20. Intersection of sets {1, 2, 3} and {2, 3, 4}
A={1,2,3}
B={2,3,4}

print(A.intersection(B))

{2, 3}

In [ ]:
#21. Create a dictionary with keys "name", "age", "city"

My_dictionary={'Name':'Sonu', 'Age': 25, 'City':'GKP'}

My_dictionary

{'Name': 'Sonu', 'Age': 25, 'City': 'GKP'}

In [ ]:
#22. Add "country": "USA" to {'name': 'John', 'age': 25}

A={'Name':'John','Age': 25}
A['Country']= 'USA'

A

{'Name': 'John', 'Age': 25, 'Country': 'USA'}

In [ ]:
#23. Access value of "name" in {'name': 'Alice', 'age': 30}

C={'name': 'Alice', 'age': 30}
print(C['name'])

Alice

In [ ]:
#24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

A={'name': 'Bob', 'age': 22, 'city': 'New York'}
A.pop('age')
A

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
#26. Create a list, a tuple, and a dictionary, and print them
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 7, "b": 8}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [ ]:
#27. Create 5 random numbers between 1–100, sort, print
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[22, 45, 65, 80, 99]

In [ ]:
#28. Create a list with strings and print element at index 3
lst = ["apple", "banana", "cherry", "date", "elderberry"]
print(lst[3])

date

In [ ]:
#29. Combine two dictionaries into one and print
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30. Convert list of strings into a set
lst = ["apple", "banana", "apple"]
s = set(lst)
print(s)

{'apple', 'banana'}